{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="hero v-h-full overlay">
    <div class="img-bg rellax">
        <img src="{{ vich_uploader_asset(painter, 'imageFile')| imagine_filter('hero_banner')}}" alt="Image" class="img-fluid">
    </div>
    <div class="container">
        <div class="row align-items-center v-h-full">

            <div class="col-lg-7 col-xxl-6 mx-auto text-center">
                <h1 class="heading-2 text-white mb-3" data-aos="fade-up">About Us</h1>
                <p data-aos="fade-up" data-aos-delay="200" class="text-white lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                <p data-aos="fade-up" data-aos-delay="300"><a href="#" class="btn btn-primary-outline white me-4">Get in Touch</a></p>
            </div>

        </div>
    </div>

</div>




<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pe-lg-5" data-aos="fade-up">
                <span class="subheading d-inline-block mb-2">ARTISTE PEINTRE EN PLEIN COEUR DE LYON</span>
                <h2 class="mb-4">{{ painter.firstname }} {{ painter.lastname }}</h2>
                <p class="mb-5">{{ painter.about }}</p>
                <p><a href="#" class="btn btn-black">Get started</a></p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6 col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <img src="{{ vich_uploader_asset(painter, 'imageFile')| imagine_filter('full')}}" alt="Image" class="img-fluid rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
