<div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
          <span class="subheading mb-2 d-inline-block">Mes réalisations</span>
          <h2 class="mb-4">Mes réalisations</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="container-fluid">
          <div class="row">

            {% for paint in last_three_paints %}
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <a href="{{ vich_uploader_asset(paint, 'imageFile')}}" class="media-1 glightbox">
                  <img src="{{ vich_uploader_asset(paint, 'imageFile')}}" alt="Image" class="img-fluid">
                  <div class="media-1-content">
                    <h2>{{paint.name}}</h2>
                    <span class="category">{{paint.description}}</span>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <p class="mb-0"><a href="{{ path('app_realization')}}" class="more">Voir toutes les oeuvres</a></p>
        </div>
      </div>
    </div>
  </div>