{% extends 'base.html.twig' %}

{% block title %}{{ category.slug }}{% endblock %}

{% block body %}
<div class="section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-lg-6 text-center" data-aos="fade-up" data-aos-delay="100">
          <h2 class="mb-4">{{ category.name }}</h2>
        </div>
      </div>
  
      <div class="row">
        <div class="container-fluid">
          <div class="row">

            {% for paint in paints %}
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <a href="{{paint.file}}" class="media-1 glightbox">
                  <img src="{{paint.file}}" alt="Image" class="img-fluid">
                  <div class="media-1-content">
                    <h2>{{paint.name}}</h2>
                    <span class="category">{{paint.description}}</span>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}